@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
    height: auto;
}

.center-nav{
    display: flex;
}

.search{
    display: flex;
}

.search input{
    min-width: 550px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
    height: 30px;
}

.search button{
    border: none;
    padding: 10px 20px;
    height: 30px;
}

.logo-size{
    height: 50px;
}

.mic{
    padding: 0 10px;
    border-radius: 50%;
    height: 30px;
    display: grid;
    place-items: center;
}

.mic img{
    width: 30px;
}

.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 30px 0 0;
}

i img{
    height: 30px;
}

button img{
    height: 10px;
}

.tags{
    display: flex;
    padding: 10px 20px;
    gap: 20px;
    border-top: 1px solid #ccc;
}

.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22, 22, 22);
}

.dark{
    background-color: #000;
    color: #fff;
}

.light{
    background-color: rgb(238, 238, 238);
    color: rgb(67, 67, 67);
}

.bars img{
    width: 40px;
}

.container{
    display: flex;
}

aside{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.side-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.main-container{
    width: 100%;
}


main{
    min-height: 100vh;
    background-color: rgb(240, 238, 238);
}

.avatar img, .dots img{
    height: 20px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card{
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.avatar-content{
    padding: 10px;
    display: flex;
    gap: 5px;
}

.card h3{
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.channel-name{
    font-size: 16px;
    font-weight: bold;
}

.content-status{
    display: flex;
    font-size: 14px;
    gap: 10px;
}

.dots{
    margin-left: 20px;
}