@media (max-width: 768px) {
    nav ul{
        display: none;
    }
    .menu-bar{
        display: flex;
        align-items: center;
        font-size: 24px;
    }

    .music-section-img img{
        width: 20rem;
    }
}

@media (max-width: 325px){
    .music-section-img img{
        width: 100vw;
    }
}

@media (min-width: 768px) {
    .menu-bar{
        display: none;
    }
}