@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background: #2aaf4e;
  }

html,body{
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

/* Navigation */


header{
    width: 100vw;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.container{
    max-width: 80vw;
    margin: 0 auto;
}

nav{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background-color: #fff;
}


/* Hero Section  */


.hero{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero-img img{
    border-radius: 50%;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

.tag{
    background-color: #149f39;
    color: #fff;
    padding: 5px 10px;
    align-self: flex-start;
}

button{
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.explore-btn{
    background-color: #ffc066;
    align-self: flex-start;
}


/* Features Section  */

.features{
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
}

.feature{
    display: flex;
    gap: 20px;
    padding: 20px;
    transition: 0.2s ease-in-out;
}

.feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.09);
}

.divider{
    border: 1px solid #ccc;
    margin: 20px 0;
}


/* Menu Section  */

.menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}

.menu .tag{
    align-self: center;
}

.grid img{
    height: 40vh;
    transition: 0.2s ease-in-out;
}

.grid img:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}


/* Footer Section  */


footer{
    background-color: #fff0db;
}

.footer-container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.link-lists h3{
    margin-bottom: 10px;
    color: gray;
}

.news-letter h3{
    margin-bottom: 10px;
    color: gray;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #06912b;
}

.footer-logo{
    border-radius: 50%;
}